<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>LISTADO DE Juego</h1>
    <div>
        <a href="{{url_for('agregar')}}">Agregar Juego</a>
    </div>
    <br>
    <div>
        <a href="{{url_for('addAccesorio')}}">Agregar Accesorio</a>
    </div>
    <br>
    <div>
        <a href="{{url_for('addConsola')}}">Agregar Consola</a>
    </div>
    <div>
        <table>
            <tr>
                <th>Juego</th>
                <th>Genero</th>
                <!-- <th>Apellido</th>
                <th>Email</th> -->
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tbody>
                {% for juego in juegos %}
                <tr>
                    <td>{{juego.id}}</td>
                    <td>{{juego.nombrejuego}}</td>
                     <td>{{juego.genero}}</td>
                    
                    
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>